<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>Login</title>
</head>
<body>
    <div class="row">
        <div class="card">
            <form method="post" action="/login.html">
                <input name="user" type="text" placeholder="Nome">
                <input name="pwd" type="password" placeholder="Senha">
                <button type="submit" value="Entrar"></button>
            </form>
        </div>
    </div>
</body>
</html>